node_modules/
.rpt2_cache/
yarn-error.log
.pnpm-debug.log
.DS_Store

# Editor directories and files
.idea
.vscode
.history
# build dist
*.tgz
dist/
**/__tests__/temp
.temp/
.cache/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
#!.yarn/versions
.pnp.*
.yarn-cache.json
.yarn-cache-debug.json
*.tsbuildinfo
**/src/**/i18n/index.d.ts
